@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-image: url('https://raw.githubusercontent.com/drdev2025/skater-ia-frontend/refs/heads/main/public/textures/skateboard-wallpaper-preview.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}
